.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Conteneur {
  display: flex;
  height: 100vh;
  background: transparent url(./images/bg.png) 0% 0% no-repeat padding-box;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background-size: cover;
}

.left {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #282c34; */
}

.cdContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 90%;
  border-radius: 55px 10px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 8px;
}

.cd {
  width: auto;
  height: 105%;
}

.cdContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -51%);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  /* background-color: rgba(255, 255, 255, 0.6); */
  background: rgba(255, 255, 255, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border-radius: 40px;
  height: 66px;
  width: 300px;
  padding: 5px;
  text-align: left;
}

.cdContentImg {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  margin-left: 20px;
}

.cdContentText {
  width: 100%;
  height: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cdContentTextp {
  margin: 0;
  padding: 0;
  font-size: .9rem;
  font-weight: 600;
  color: white;
}

.playlistContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 50%;
  width: 90%;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 6px #FFFFFF29;
  border: 1px solid #FFFFFF1F;
  border-radius: 10px;
  opacity: 1;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  margin-top: 8px;
  box-sizing: border-box;
}

.playlistContainer::-webkit-scrollbar {
  display: none;
}

.playlistNbutton {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.playlistButton {
  position: relative;
  width: 93%;
  height: 37px;
  background: rgba(255, 255, 255, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0 10px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: left;
  z-index: 2;
}

.active {
  border: 1.5px solid white;
}

.playlistButton:hover {
  background: rgba(255, 255, 255, 0.5);
  transition: ease-in-out 0.2s;
}

.center {
  width: 60%;
  /* background-color: #a42626; */
}

.right {
  width: 20%;
  /* background-color: #bf3dad; */
}