@font-face {
	font-family: "Akzidenz-Bold";
	src: url('./assets/Akzidenz-grotesk-bold.ttf');
}

@font-face {
	font-family: "Akzidenz-Black";
	src: url('./assets/Akzidenz-grotesk-black.ttf');
}


.App {
  background-image: url(assets/background-chatbox.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Conteneur {
  display: flex;
  height: 100vh;
}

.left {
  width: 20%;
  /* background-color: #282c34; */
}


/* Centre */
.center {
  width: 60%;
  color: white;
}

.headerMid {
  background-color: rgb(101, 188, 255, 0.5);
  width: 100%;
  height: 97%;
  margin-top: 2% ;
  border-radius: 10px 10px 10px 10px;
  font-family: Akzidenz-Black;
}

.input-message, input {
  height: 2.5em;
  border: none;
  justify-content: center;
  border-radius: 35px 35px 0px 0px;
  
  font-size: 1em;
  color: white;
  margin-left: 1%;
  padding-left: 30px;
  margin-bottom: 3px;
}

input {
  background-color: rgb(101, 188, 255, 0.5);
  margin-top: 10px;
  bottom: 0;
  position: fixed;
  width: 50%;
}

.message {
  margin-bottom: 15px;
  margin-left: 15px;
}

.message-text {
  font-family: Akzidenz-Bold;
  font-size: 1.2em;
  color: white;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(153, 173, 251, 0.5);
  padding: 10px;
}

.message-username{
  margin-bottom: 1em;
}

/* .thread-messages {
  bottom: 0;
  position: fixed;
} */


/* Droite */

.small-profile {
  width: 80%;
  padding-bottom: 3%;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 10px 45px 45px 0px;
  display: flex;
}

.profile-picture {
  width: 4.8em;
  border-radius: 70%;
  margin-left: 0.4em;
}

.profile-name {
  margin-left: 10%;
}

.user-list {
  border-radius: 0px 45px 45px 0px;
}

.right {
  width: 20%;
  /* background-image: url(assets/background-chatbox.png); */
}

.partie-haute {
  width: 80%;
  margin-top: 6%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-right: 10%;
  margin-left: 10%;
  background-color: rgb(101, 188, 255, 0.5);
  border-radius: 10px 45px 45px 0px;
}

.small-profile {
  display: flex;
}

.profile-picture {
  width: 4.8em;
  border-radius: 50%;
}

.profile-name {
  margin-left: 10%;
}

.user-list {
  background-color: rgb(101, 188, 255, 0.5);
  margin-right: 10%;
  margin-left: 10%;
}

/* .input-name {
  background-color: #439bff;
  color: white;
  border: none;
  font-size: 1em;
  width: 80%;
  font-style: italic;
} */

.displayName {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.settings-icon {
  border-radius: 48%;
  background-color: #65bcff;
  width: 2.3em;
}

.img-icon {
  border-radius: 50%;
  background-color: #65bcff;
  width: 2.8em;
  margin-left: 0.15em;
}

.tools {
  margin-left: 3%;
}

.icon-user {
  width: 1.8em;
  height: 1.8em;

  margin-left: 6px;
  margin-right: 6px;
}

.partie-basse {
  margin-top:6%;
  color: white;
}

.partie-son {
  width: 60%;
  margin-top: 6%;
  padding-top: 3%;
  margin-left: 10%;
  background-color: rgb(101, 188, 255, 0.5);
  border-radius: 100% 100% 0% 0%;
  height: 13%;
  justify-content: center;
}

.test{
  display: flex;
}

.online {
  font-size: 22px;
  font-family: "Akzidenz-Bold", Helvetica, Arial, sans-serif;
}

.user {
  font-size: 18px;
  margin-left: 13px;
  font-family: "Akzidenz-Bold", Helvetica, Arial, sans-serif;
}

.users{
  height:390px;
  overflow:hidden;
  overflow-y:scroll;
}

